<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8"/>
<title> Hola Spring </title>

<style>
    .divIndex{
        background-color: rgb(190, 234, 194);
        width: 100%;
        border: 2px solid blue;
		text-align: center;
    }
</style>

</head>
<body>
	<span th:if="${muestraDesc}">
		<div class="divIndex">
			<p th:text="${descModel}" style="color: blue;"></p>
			<p th:text="${tituloModel}" style="color: blueviolet"></p>
		</div>
	</span>
	
	<span th:if="${muestraAux}">
		<h1 style="color: red;">Error en el server</h1>
	</span>

	
</body>
</html>
