<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8"/>
<title>Enviar parámetros del Request HTTP GET - URL </title>

<style>

</style>

</head>
<body>
    <h1>Enviar parámetros del Request HTTP GET - URL</h1>
    <ul>
        <li>
            <a th:href="@{/params/string(texto='Hola Omar')}">/params/string?texto=Hola Omar</a>
        </li>
        <li>
            <a th:href="@{/params/string(texto='Qué tal')}">/params/string?texto=Qué tal?</a>
        </li>
        <li>
            <a th:href="@{/params/mix-params(saludo='Hola', numero=13)}">/params/mix-params?saludo=Hola&numero=13</a>
        </li>

        <li>
            <a th:href="@{/params/mix-params-request(saludo='Hola', numero=11)}">/params/mix-params?saludo=Hola&numero=11</a>
        </li>
    </ul>
</body>
</html>